###############################################################################
# application.config
# This file contains the configuration settings for running the importexport
# project.
###############################################################################

###############################################################################
# db related  configuration
###############################################################################

# database configuration settings for mysql
db.connection.url=jdbc:h2:file:../../database/DEMODB;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE;MVCC=TRUE
db.connection.username=sa
db.connection.password=sa
db.connection.driver_class=org.h2.Driver

###############################################################################
# search related  configuration
###############################################################################
search.host=${ep.search.server.url}

