<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.rap.ui.branding">
        <branding
                id="branding"
                title="%applicationTitle"
				themeId="org.eclipse.rap.rwt.theme.Default"
				favicon="themes/favicon.ico">
            <additionalHeaders>
				<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" />
            </additionalHeaders>
        </branding>
    </extension>

	<extension
			point="org.eclipse.rap.ui.themes">
		<themeContribution
				themeId="org.eclipse.rap.rwt.theme.Default"
				name="Elastic Path Default Theme"
				file="themes/default.css" />
	</extension>

	<extension point="org.eclipse.rap.ui.themes">
		<themeContribution
				themeId="org.eclipse.rap.rwt.theme.Default"
				name="Elastic Path Extension CSS"
				file="themes/extension.css"/>
	</extension>

</plugin>
