<?xml version='1.0' encoding='UTF-8'?>
<Context>
	<Resource auth="Container" name="mail/Session" type="javax.mail.Session"/>
	<Resource name="jdbc/epjndi"
		auth="Container"
		scope="Shareable"
		type="javax.sql.DataSource"
		maxActive="100"
		maxIdle="30"
		maxWait="10000"
		removeAbandoned="true"
		username="${epdb.username}"
		password="${epdb.password}"
		driverClassName="${epdb.jdbc.driver}"
		url="${epdb.url}"
		/>

	<Resource auth="Container"
			  name="jms/JMSConnectionFactory"
			  type="${ep.jms.type}"
			  description="JMS Connection Factory"
			  factory="${ep.jms.factory}"
			  brokerURL="${ep.jms.url}"
			  maxConnections="25"
			  maximumActiveSessionPerConnection="25"
			  idleTimeout="10000"
			/>
</Context>
