<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %t %d{ISO8601} %c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.elasticpath.catalog.batch" level="debug" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Logger name="org.springframework.batch" level="debug" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Logger name="com.elasticpath" level="${ep.log.level}" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>