###############################################################################
# importexporttool.config
# This file contains the configuration settings for running the
# importexport project.
###############################################################################

###############################################################################
# Database configuration
###############################################################################

# database configuration settings for mysql
db.connection.url=${data.population.url}
db.connection.username=${data.population.username}
db.connection.password=${data.population.password}
db.connection.driver_class=${data.population.jdbc.driver}
db.connection.xaDriver_class=${data.population.jdbc.xaDriver}

###############################################################################
# jms related configuration
###############################################################################
jms.url=${data.population.jms.url}
jms.externalEndpoint.uri=${data.population.jms.externalEndpoint.uri}
jms.maxConnections=${data.population.jms.maxConnections}
jms.maximumActiveSessionPerConnection=${data.population.jms.maximumActiveSessionPerConnection}
jms.idleTimeout=${data.population.jms.idleTimeout}