<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
  <extension
         point="com.elasticpath.cmclient.core.authorizations">
      <permissions>
         <permission
               activityId="com.elasticpath.cmclient.reporting.authorizations.activity"
               key="REPORTING_GIFT_CERTIFICATE_DETAILS_MANAGE"
               name="%giftCertificateDetailsReportPermission">
         </permission>
      </permissions>
   </extension>
  <extension
        point="com.elasticpath.cmclient.reporting.reports">
     <report
           class="com.elasticpath.cmclient.reporting.giftcertificatedetails.GiftCertificateDetailsReportSection"
           designFile="reportDesign/GiftCertificateDetails.rptdesign"
           id="com.elasticpath.cmclient.reporting.giftcertificatedetails.GiftCertificateDetailsReportSection"
           name="%report.name">
     </report>
  </extension>
</plugin>
