// http://download.eclipse.org/rt/rap/doc/3.1/guide/reference/theming/Composite.html
Composite {
  padding: 0;
  opacity: 1;
  background-color: $widget_body_color;;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  border: none;
  box-shadow: none;
  animation: none;
  
  &[BORDER] {
  	border: 1px solid $widget_border_color;
  	border-radius: $widget_border_radius;
  }
}