<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="FILE"
			fileName="${user.home}/ep/logs/ep-importexport.log"
			append="false">
			<PatternLayout pattern="%-5p %t %d{ISO8601} %c - %m%n" />
		</File>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[EP-ImportExport] %-5p %t %d{ISO8601} %c - %m%n" />
		</Console>
		<IESummary name="IE_SUMMARY"/>
	</Appenders>
	<Loggers>
		<Logger name="com.elasticpath" level="${ep.log.level}" additivity="false" >
			${ep.log.to}
			<AppenderRef ref="IE_SUMMARY" />
		</Logger>
		<Logger name="com.elasticpath.extensions" level="${ep.log.level}" additivity="false" >
			${ep.log.to}
			<AppenderRef ref="IE_SUMMARY" />
		</Logger>
		<Logger name="com.elasticpath.caching.core" level="error" additivity="false" >
			${ep.log.to}
			<AppenderRef ref="IE_SUMMARY" />
		</Logger>
		<Root level="warn">
			${ep.log.to}
			<AppenderRef ref="IE_SUMMARY" />
		</Root>
	</Loggers>
</Configuration>