#*
* Copyright (c) Elastic Path Software Inc., 2006
*#
## createAccount.txt.vm

#emailInit()
#setManageAccountUrl("MANAGE_ACCOUNT_URL")

$dateTool.get('MMMM d, yyyy')#**#
    
#emailMessage("email.globals.dear") $!customer.firstName $!customer.lastName,#**#

#emailMessage("email.createAccount.message1")#**#
$store.getUrl()#**#
    
#emailMessage("email.createAccount.message2")#**#
$store.getUrl()/$manageAccountUrl#**#
        
#emailMessage("email.createAccount.message3")#**#
#emailMessage("email.createAccount.customerno"): $!customer.uidPk#**#
#emailMessage("email.createAccount.created"): $!customer.creationDate#**#
#emailMessage("email.emailAddress"): $!customer.email#**#
    
-------------------------------------#**#
$store.getName()
$store.getUrl()
-------------------------------------#**#