#*
* Copyright (c) Elastic Path Software Inc., 2007
*#
## GiftCertificateRecipientEmail.html.vm
#emailInit()
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div
      style="width:600px;margin-left:auto;margin-right:auto;background:#fff;color:#333;font-size:11pt;line-height:150%;padding-bottom:20px;border:0;font-family:arial,helvetica,sans-serif;border:2px solid #ccc;">
      <table width="600" border="0" align="center" cellpadding="0"
        cellspacing="0" bgcolor="#FFFFFF">
        <tr>
          <td>#parse("includes/header.email.vm")</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" align="center" cellpadding="10"
              cellspacing="0" bgcolor="#FFFFFF">
              <tr>
                <!-- senderEmail, senderName, giftCertificateCode, recipientName, recipientEmail, message, purchaseAmount 
                populated by template helper code -->
                <td>
                  <p>$dateTool.get('MMMM d, yyyy')</p>
                  <p><strong>#emailMessage("email.giftCert.email.message1") $!purchaseAmount #emailMessage("email.giftCert.email.message2") <a
                  href="$store.getUrl()"> $store.getName()</a></strong></p>
                  <p><strong>#emailMessage("email.giftCert.email.message3")</strong> #emailMessage("email.giftCert.email.message4")</p>
                  <p>#emailMessage("email.giftCert.email.message5")</p>
                  <div style="height:20px"></div>
                  ##Start of blue background block
                  <div style="background-color: #ffffff; border: 2px solid #808080; padding: 10px;">
                    ##Start of float right div
                    <div style="float: right; background-color: #ffffff; margin-right: 5px; margin-top: 5px; width: 230px; border-radius: 10px; -moz-border-radius: 10px; padding: 5px;">
                      <p style="color: #cc6600; font-weight: bold;">#emailMessage("email.giftCert.email.giftCertificateCode")</p>
                      <p style="font-weight: bold;">$!giftCertCode</p>
                      <br>
                      <p style="color: #cc6600; font-weight: bold;">#emailMessage("email.giftCert.email.amount")</p>
                      <p style="font-weight: bold;">$!purchaseAmount</p>
                      <br>
                      <p>#emailMessage("email.giftCert.email.redeemAt")</p><p><a href="$store.getUrl()"><img src="$store.getUrl()template-resources/images/logo.gif" width="107" height="28" border="12" style="border-color:#FFFFFF" alt="#emailMessage("header.snapitup")"></a><br></p>
                    </div>
                    ##End of float right div
                    <p style="font-size: 35px; color: #80a71f;">#emailMessage("email.giftCert.email.giftCertificate")</p><br>
                    #setImageUrl($giftCertificateThemeImageFilename)
                    <img src="$imageUrl" alt="$giftCertificateThemeImageFilename">
                    <div style="clear: both; height: 10px;"></div>
                    <div style="float: left; width: 30px;">
                      <p style="font-weight: bold;">#emailMessage("email.giftCert.email.to")</p>
                    </div>
                    <div style="float: left; width: 250px;">
                      #if($recipientName)<p>$!recipientName</p>#end
                      <p>$!recipientEmail</p>
                    </div>
                    <div style="float: left; width: 50px;">
                      <p style="font-weight: bold;">#emailMessage("email.giftCert.email.from")</p>
                    </div>
                    <div style="float: left; width: 200px;">
                      #if($senderName)<p>$!senderName</p>#end
                      <p>$!senderEmail</p>
                    </div>
                    <div style="clear: both; height: 10px;"></div>
                    #if($message)<p><span  style="font-weight: bold;">#emailMessage("email.giftCert.email.message")</span> $!message</p>#end
                  </div>
                  ##end of blue background block
                  <div style="height:20px"></div>
                  <p style="color: #cc6600; font-weight: bold;">#emailMessage("email.giftCert.email.message6")</p> <!--Heading bold orange color-->
                  <ol>
                    <li>#emailMessage("email.giftCert.email.message7") <a href="$store.getUrl()">#emailMessage("email.giftCert.email.storeUrl")</a></li>
                    <li>#emailMessage("email.giftCert.email.message8")</li>
                    <li>#emailMessage("email.giftCert.email.message9")</li>
                  </ol>
                  <p style="color: #cc6600; font-weight: bold;">#emailMessage("email.giftCert.email.message10")</p><!--Heading bold orange color-->
                  <p>#emailMessage("email.giftCert.email.message11")</p>
                  <p>#emailMessage("email.giftCert.email.message12") #emailMessage("email.giftCert.email.phone")</p>
                  <br>
                  <p>#emailMessage("email.giftCert.email.message13")</p>
                  <br>
                  <p>#emailMessage("email.giftCert.email.message14")</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>#parse("includes/footer.email.vm")</td>
        </tr>
      </table>
    </div>
  </body>
</html>