#*
* Copyright (c) Elastic Path Software Inc., 2007
*#
## sendRegisteredCustomerPasswd.txt.vm
#emailInit()
#setManageAccountUrl("MANAGE_ACCOUNT_URL")
$dateTool.get('MMMM d, yyyy')
    
#emailMessage("email.globals.dear") $!customer.firstName $!customer.lastName,
    
#emailMessage("email.sendRegisteredCustomerPasswd.message1")#**#
$newPassword

#emailMessage("email.sendRegisteredCustomerPasswd.message2")#**#
$store.getUrl()/$manageAccountUrl

$store.getName()
$store.getUrl()