###############################################################################
# application.config
# This file contains the configuration settings for running the epcoretool
# project.
###############################################################################

###############################################################################
# db related  configuration
###############################################################################

# database configuration settings for mysql
db.connection.url=jdbc:mysql://127.0.0.1:3306/COMMERCEDB?AutoReconnect=true
db.connection.username=ep
db.connection.password=ep
db.connection.driver_class=com.mysql.jdbc.Driver
db.connection.min.idle=1
db.connection.max.idle=10
