###############################################################################
# test_application.config
# This file contains the configuration settings for running the integration
# tests.
###############################################################################

# TODO: This feature was broken somewhere along the line...
#context.use_search=true

# Directory where runtime configuration is stored
runtime.directory=${project.build.testOutputDirectory}

# file containing the spring bean definitions to load into the application manager
context.definitions_file=integration-context.xml

# setting on whether default database is used for all the tests:
#   true  - default database is always used for all tests regardless if specific database was supplied
#   false - specific database is used if supplied by test, else default database is used
context.use_default_db=true

# reset mode used for the tests, options are:
#   EACH_DB_NAME - database is reset each time database name is switched
#   EACH_USE     - database is reset each time database is used
#   NONE         - database is not reset unless specifically forced to by a test
context.db_reset_mode=EACH_USE

# default name of database used for testing
context.default_db_name=test_db

# Path to assets directory
runtime.assets.dir=${basedir}/target/test-classes/assets

###############################################################################
# db related  configuration
###############################################################################

sync.export.target.directory.root=${project.build.testOutputDirectory}/exportpayload

# database configuration settings for hsqldb
db.rdbms=${ep.sync.test.db.rdbms}
db.name=${ep.sync.test.db.name}
db.connection.host=${ep.sync.test.db.connection.host}
db.connection.port=${ep.sync.test.db.connection.port}
db.connection.username=${ep.sync.test.db.connection.username}
db.connection.password=${ep.sync.test.db.connection.password}
db.connection.driver_class=${ep.sync.test.db.connection.driver_class}
db.script.dir=${ep.sync.test.db.script.dir}

# database configuration settings for source
sync.source.db.url=${sync.source.db.url}
sync.source.db.connection.username=${sync.source.db.connection.username}
sync.source.db.connection.password=${sync.source.db.connection.password}
sync.source.db.connection.driver_class=${sync.source.db.connection.driver_class}

# database configuration settings for target
sync.target.db.url=${sync.target.db.url}
sync.target.db.connection.username=${sync.target.db.connection.username}
sync.target.db.connection.password=${sync.target.db.connection.password}
sync.target.db.connection.driver_class=${sync.target.db.connection.driver_class}