###############################################################################
# application.config
# This file contains the configuration settings for running the importexport
# project.
###############################################################################

###############################################################################
# db related  configuration
###############################################################################

# database configuration settings
db.connection.url=${epdb.url}
db.connection.username=${epdb.username}
db.connection.password=${epdb.password}
db.connection.driver_class=${epdb.jdbc.driver}
db.connection.xaDriver_class=${epdb.data.source.xa.type}

###############################################################################
# jms related configuration
###############################################################################
jms.url=${ep.jms.url}
jms.externalEndpoint.uri=jms://topic:VirtualTopic.ep.domain
jms.maxConnections=25
jms.maximumActiveSessionPerConnection=25
jms.idleTimeout=10000
