.checkstyle
.classpath
.djunitplugin
.pmd
.pmdruleset
.ruleset
bin
build-modified.xml
build.xml
com.elasticpath.cmclient.reporting.promotiondetails.jar
javaCompiler.com.elasticpath.cmclient.reporting.promotiondetails.jar.args
jcoverage.ser
temp.folder
