<?xml version='1.0' encoding='UTF-8'?>
<!--Copyright © 2014 Elastic Path Software Inc. All rights reserved.-->

<Context>
	<Resource auth="Container" name="mail/Session" type="javax.mail.Session"/>
	<Resource
		name="jdbc/epjndi"
		auth="Container"
		scope="Shareable"
		type="javax.sql.DataSource"
		maxActive="250"
		maxIdle="30"
		maxWait="10000"
		testWhileIdle="true"
		validationQuery="${epdb.validation.query}"
		removeAbandoned="true"
		logAbandoned="true"
		username="${epdb.username}"
		password="${epdb.password}"
		driverClassName="${epdb.jdbc.driver}"
		url="${epdb.url}"
	/>

	<Resource auth="Container"
			  name="jms/JMSConnectionFactory"
			  type="${ep.jms.type}"
			  maxConnections="25"
			  maximumActiveSessionPerConnection="25"
			  idleTimeout="10000"
			  description="JMS Connection Factory"
			  factory="${ep.jms.factory}"
			  brokerURL="${ep.jms.url}"/>
</Context>

