<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:settings="http://www.elasticpath.com/schema/settings"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.elasticpath.com/schema/settings http://www.elasticpath.com/schema/settings/settings.xsd
		">

	<import resource="../../spring/dataaccess/openjpa/openjpa.xml" />

	<import resource="../../spring/prototypes/prototypes.xml"/>

	<import resource="../../spring/models/domainModel.xml" />

	<import resource="../../spring/dataaccess/dao.xml" />

	<import resource="../../spring/service/service.xml" />

	<import resource="../../spring/service/checkout.xml" />

	<import resource="../../spring/commons/util-config.xml" />

	<import resource="../../spring/commons/validators.xml" />

	<import resource="classpath*:META-INF/elasticpath/conf/spring/plugin.xml" />

	<import resource="classpath*:META-INF/elasticpath/conf/spring/beans.xml" />

	<bean id="servicePreInterceptors" class="java.util.ArrayList" />

	<bean id="searchHostLocator" class="com.elasticpath.service.search.impl.SettingsSearchHostLocatorImpl">
		<property name="replicaSearchHostLocationProvider">
			<settings:setting path="COMMERCE/SYSTEM/SEARCH/searchHost" context="replica" systemPropertyOverrideKey="ep.search.replica.url" deprecatedSystemPropertyOverrideKey="ep.search.default.url"/>
		</property>
		<property name="primarySearchHostLocationProvider">
			<settings:setting path="COMMERCE/SYSTEM/SEARCH/searchHost" context="primary" systemPropertyOverrideKey="ep.search.primary.url" deprecatedSystemPropertyOverrideKey="ep.search.master.url"/>
		</property>
	</bean>

	<bean id="searchConfigFactory" class="com.elasticpath.service.search.impl.DefaultSearchConfigFactoryImpl">
		<property name="beanFactory" ref="coreBeanFactory" />
		<property name="searchHostLocator" ref="searchHostLocator" />
	</bean>

	<bean id="messageSourceCache" class="com.elasticpath.commons.util.impl.MessageSourceCacheImpl" init-method="init">
		<property name="assetRepository" ref="assetRepository"/>
		<property name="defaultLanguage" value="en"/>
	</bean>

	<bean id="globalMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>org.springframework.security/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<bean id="storeMessageSource" parent="storeMessageSourceTemplate"/>

	<!-- Remember: <alias name="FromBean" alias="ToBean"/> -->
	<alias name="cachedTagDefinitionReader" alias="tagDefinitionReader"/>

</beans>
