###############################################################################
# application.config
# This file contains the configuration settings for running the importexport system tests
# project.
###############################################################################

###############################################################################
# db related  configuration
###############################################################################

# database configuration settings
db.connection.url=${ep.importexport.systemtestsdb.url};MULTI_THREADED=1
db.connection.username=${ep.importexport.systemtestsdb.username}
db.connection.password=${ep.importexport.systemtestsdb.password}
db.connection.driver_class=${ep.importexport.systemtestsdb.driver}

###############################################################################
# search related  configuration
###############################################################################
search.host=${ep.importexport.systemtests.searchurl}
