<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="Extender" name="Extender" schema="../com.elasticpath.cmclient.core/schema/extender.exsd"/>
	<extension
			point="org.eclipse.ui.views">
		<view
				allowMultiple="false"
				class="com.elasticpath.cmclient.admin.datapolicies.views.DataPolicyListView"
				icon="icons/data-privacy_default_22.png"
				id="com.elasticpath.cmclient.admin.datapolicies.views.DataPolicyListView"
				name="%dataPoliciesView.name">
		</view>
	</extension>
	<extension
			point="org.eclipse.ui.editors">
		<editor
				name="%dataPolicyEditor.name"
				icon="icons/data-privacy_default_22.png"
				class="com.elasticpath.cmclient.admin.datapolicies.editors.DataPolicyEditor"
				id="com.elasticpath.cmclient.admin.datapolicies.editors.DataPolicyEditor"
				contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor">
		</editor>
	</extension>
	<extension
			point="com.elasticpath.cmclient.admin.adminSections">
		<adminSection
				class="com.elasticpath.cmclient.admin.datapolicies.DataPoliciesAdminSection"
				id="com.elasticpath.cmclient.admin.datapolicies.DataPoliciesAdminSection"
				name="%adminSection.name">
		</adminSection>
	</extension>
	<extension point="com.elasticpath.cmclient.core.authorizations">
		<permissions>
			<permission
					activityId="com.elasticpath.cmclient.admin.authorization.activity"
					key="ADMIN_DATA_POLICIES_MANAGE"
					name="%manageDataPolicies.name">
			</permission>
		</permissions>
	</extension>
</plugin>
