.checkstyle
.classpath
.pmd
.pmdruleset
.ruleset
bin
build-modified.xml
build.xml
com.elasticpath.cmclient.reporting.returnsandexchanges.jar
javaCompiler.com.elasticpath.cmclient.reporting.returnsandexchanges.jar.args
temp.folder
