<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="statePolicy" name="State Policy" schema="schema/statePolicy.exsd"/>
   <extension-point id="catalogPerspectiveExtension" name="Catalog Perspective Extension" schema="schema/catalogPerspectiveExtension.exsd"/>
   <extension-point id="Extender" name="Extender"   schema="../com.elasticpath.cmclient.core/schema/extender.exsd"/>
   <extension-point id="StatePolicyExtender" name="StatePolicyExtender"   schema="../com.elasticpath.cmclient.core/schema/statePolicyExtender.exsd"/>

   <!-- Catalog Perspective -->	
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.elasticpath.cmclient.catalog.perspectives.CatalogPerspectiveFactory"
            icon="icons/catalog_default_22.png"
            id="com.elasticpath.cmclient.catalog.catalogperspective"
            name="%catalogPerspective.name">
      </perspective>
   </extension>
   <!-- Catalog Views -->
   <extension
         point="org.eclipse.ui.views">

   <!-- Catalog Category -->
      <category
            name="%catalogCategory.name"
            id="com.elasticpath.cmclient.catalog.category.main">
      </category>
      
   <!-- Catalog Browse and Search View -->      
      <view
            name="%catalogBrowseView.name"
            icon="icons/catalog_default_22.png"
            category="com.elasticpath.cmclient.catalog.category.main"
            class="com.elasticpath.cmclient.catalog.views.CatalogBrowseView"
            id="com.elasticpath.cmclient.catalog.views.CatalogBrowseView">
      </view>
      
      <view
            name="%catalogSearchView.name"
            icon="icons/search_default_22.png"
            category="com.elasticpath.cmclient.catalog.category.main"
            class="com.elasticpath.cmclient.catalog.views.CatalogSearchView"
            id="com.elasticpath.cmclient.catalog.views.CatalogSearchView">
      </view>

   
    <!-- Job List View -->	
       <view
             name="%jobListView.name"
             icon="icons/csv-import_default_22.png"
             category="com.elasticpath.cmclient.catalog.category.main"
             class="com.elasticpath.cmclient.catalog.views.JobListView"
             id="com.elasticpath.cmclient.catalog.views.JobListView">
       </view>
       
     <!-- Sku List View -->
       <view
             category="com.elasticpath.cmclient.catalog.category.main"
             class="com.elasticpath.cmclient.catalog.views.SearchSkuListView"
             icon="icons/product_default_22.png"
             id="com.elasticpath.cmclient.catalog.views.SearchSkuListView"
             name="%searchSkuListView.name">
       </view>
     
     <!-- Product List View -->	
       <view
             category="com.elasticpath.cmclient.catalog.category.main"
             class="com.elasticpath.cmclient.catalog.views.SearchProductListView"
             icon="icons/product_default_22.png"
             id="com.elasticpath.cmclient.catalog.views.SearchProductListView"
             name="%searchProductListView.name">
       </view>
       <view
             category="com.elasticpath.cmclient.catalog.category.main"
             class="com.elasticpath.cmclient.catalog.views.BrowseProductListView"
             icon="icons/product_default_22.png"
             id="com.elasticpath.cmclient.catalog.views.BrowseProductListView"
             name="%browseProductListView.name">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="com.elasticpath.cmclient.catalog.catalogperspective">
          <actionSet
                id="com.elasticpath.cmclient.catalog.workbenchActionSet">
          </actionSet>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
        <actionSet
              id="com.elasticpath.cmclient.catalog.workbenchActionSet"
              label="Catalog">
        </actionSet>
    </extension>

   <extension
         point="org.eclipse.ui.editors">
   <!-- Product Editor -->
      <editor
            name="%productEditor.name"
            default="true"
            icon="icons/product_default_22.png"
            class="com.elasticpath.cmclient.catalog.editors.product.ProductEditor"
            id="com.elasticpath.cmclient.catalog.editors.product.ProductEditor"
            contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor">
      </editor>
   <!-- Category Editor -->
      <editor
            class="com.elasticpath.cmclient.catalog.editors.category.CategoryEditor"
            icon="icons/category_default_22.png"
            id="com.elasticpath.cmclient.catalog.editors.category.CategoryEditor"
            contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor"
            name="%categoryEditor.name">
      </editor>
   <!-- Product SKU Editor -->
      <editor
            class="com.elasticpath.cmclient.catalog.editors.sku.ProductSkuEditor"
            default="true"
            icon="icons/sku_default_22.png"
            id="com.elasticpath.cmclient.catalog.editors.sku.ProductSkuEditor"
            contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor"
            name="%productSkuEditor.name">
      </editor>
   <!-- Catalog Editor -->
      <editor
            class="com.elasticpath.cmclient.catalog.editors.catalog.CatalogEditor"
            icon="icons/catalog_default_22.png"
            id="com.elasticpath.cmclient.catalog.editors.catalog.CatalogEditor"
            contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor"
            name="%categoryEditor.name">
      </editor>
   </extension>
   
    <extension point="com.elasticpath.cmclient.core.authorizations">
      <permissions>
      
      	 <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               key="MANAGE_PRODUCT_SKU"
               name="%manageProductsAndSKUsPermission.name">
         </permission>
       	 <!-- permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               key="MANAGE_PRODUCT_PRICING"
               name="%manageProductPricingPermission.name">
         </permission  -->
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               key="MANAGE_PRODUCT_MERCHANDISING"
               name="%manageProductMerchandisingAssociationsPermission.name">
         </permission>
          <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               description="Permission to manage categories."
               key="CATEGORY_MANAGE"
               name="%manageCategoriesPermission.name">
          </permission>
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               description="Permission to include and exclude linked categories."
               key="CATEGORY_INCLUDE_EXCLUDE"
               name="%includeExcludeLinkedCategoriesPermission.name">
          </permission>
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               key="MANAGE_VIRTUAL_CATALOG_LINK_CATEGORY"
               name="%manageVirtualCatalogsAndLinkedCategoriesPermission.name">
         </permission>      
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               description="Permission to manage catalogs."
               key="CATALOG_MANAGE"
               name="%manageCatalogsPermission.name">
         </permission>        
            
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               description="Permission to edit global attributes"
               key="GLOBAL_ATTRIBUTE_EDIT"
               name="%editGlobalAttributesPermission.name">
         </permission>
         <permission
               activityId="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
               description="Permission to include/exclude product."
               key="INCLUDE_EXCLUDE_PRODUCT"
               name="%includeExcludeProductsPermission.name">
         </permission>
      </permissions>
      <activity
            id="com.elasticpath.cmclient.fulfillment.authorizations.activity.catalogManagement"
            name="%activityPermission.name"
            perspectiveId="com.elasticpath.cmclient.catalog.catalogperspective">
      </activity>
   </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
               locationURI="toolbar:com.elasticpath.cmclient.core.toolbars.activities">
             <command
                     commandId="com.elasticpath.cmclient.catalog.command.openPerspective"
                     icon="icons/catalog_default_34.png"
                     id="perspectiveMenu.catalogItem"
                     label="%catalogMenu.name"
                     tooltip="%catalogMenu.name">
                <visibleWhen
                        checkEnabled="true">
                </visibleWhen>
             </command>
       </menuContribution>
       <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=save">
          <toolbar
                  id="com.elasticpath.cmclient.core.toolbars.actions">
              <command
                   commandId="com.elasticpath.cmclient.catalog.commands.createCatalog"
                   icon="icons/catalog-create_default_34.png"
                   id="com.elasticpath.cmclient.catalog.toolbarMenus.createCatalog"
                   label="%commands.createCatalog.name"
                   tooltip="%commands.createCatalog.name">
                <visibleWhen>
                   <with
                         variable="activeContexts">
                      <iterate
                            operator="or">
                         <equals
                               value="com.elasticpath.cmclient.catalog.workbenchActionSet">
                         </equals>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="com.elasticpath.cmclient.catalog.commands.createVirtualCatalog"
                   icon="icons/catalog-virtual-create_default_34.png"
                   id="com.elasticpath.cmclient.catalog.toolbarMenus.createVirtualCatalog"
                   label="%commands.createVirtualCatalog.name"
                   tooltip="%commands.createVirtualCatalog.name">
                <visibleWhen>
                   <with
                         variable="activeContexts">
                      <iterate
                            operator="or">
                         <equals
                               value="com.elasticpath.cmclient.catalog.workbenchActionSet">
                         </equals>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="com.elasticpath.cmclient.catalog.commands.editGlobalAttributes"
                   icon="icons/attribute-edit_default_34.png"
                   id="com.elasticpath.cmclient.catalog.toolbarMenus.editGlobalAttributes"
                   label="%commands.editGlobalAttributes.name"
                   tooltip="%commands.editGlobalAttributes.name">
                <visibleWhen>
                   <with
                         variable="activeContexts">
                      <iterate
                            operator="or">
                         <equals
                               value="com.elasticpath.cmclient.catalog.workbenchActionSet">
                         </equals>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             id="com.elasticpath.cmclient.catalog.command.openPerspective"
             name="Open Catalog Perspective">
       </command>
       <!-- Open Perspective Handler is declared in ApplicationWorkbenchAdvisor.postStartup() -->
       <command
             defaultHandler="com.elasticpath.cmclient.catalog.handlers.CreateCatalogHandler"
             description="%commands.createCatalog.description"
             id="com.elasticpath.cmclient.catalog.commands.createCatalog"
             name="%commands.createCatalog.name">
       </command>
       <command
             defaultHandler="com.elasticpath.cmclient.catalog.handlers.CreateVirtualCatalogHandler"
             description="%commands.createVirtualCatalogdescription"
             id="com.elasticpath.cmclient.catalog.commands.createVirtualCatalog"
             name="%commands.createVirtualCatalog.name">
       </command>
       <command
             defaultHandler="com.elasticpath.cmclient.catalog.handlers.EditGlobalAttributesHandler"
             description="%commands.editGlobalAttributes.description"
             id="com.elasticpath.cmclient.catalog.commands.editGlobalAttributes"
             name="%commands.editGlobalAttributes.name">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.elasticpath.cmclient.catalog.command.openPerspective"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+1">
       </key>
    </extension>
    <extension
          point="com.elasticpath.cmclient.catalog.statePolicy">
       <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.catalog.policy.ManageAttributesInCatalogStatePolicy"
            targetId="catalogAttributeSection">
       </statePolicyContribution>
          <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.catalog.policy.ManageSkuOptionsInCatalogPolicy"
            targetId="catalogSkuOptionsSection">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
            statePolicy="com.elasticpath.cmclient.catalog.policy.ManageProductTypeInCatalogPolicy"
            targetId="productTypeWizard">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.PriceListBaseAmountPolicyImpl"
             targetId="priceListSection">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ProductAuthorizationStatePolicy"
             targetId="productEditor">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ProductAuthorizationStatePolicy"
             targetId="editProductAttributesDialog">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.SkuAuthorizationStatePolicy"
             targetId="skuEditor">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CategoryAuthorizationStatePolicy"
             targetId="categoryEditor">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CreateVirtualCatalogAuthorizationStatePolicy"
             targetId="createVirtualCatalogHandler">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.EditVirtualCatalogAuthorizationStatePolicy"
             targetId="virtualCatalogDialogTarget">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.EditVirtualCatalogAuthorizationStatePolicy"
             targetId="virualCatalogDialogEditableTarget">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.EditVirtualCatalogAuthorizationStatePolicy"
             targetId="editCatalogCategoryAction">
       </statePolicyContribution>                    
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ReorderCategoryAuthorizationStatePolicy"
             targetId="reorderCategoryUpAction">
	   </statePolicyContribution>	   	   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ReorderCategoryAuthorizationStatePolicy"
             targetId="reorderCategoryDownAction">
	   </statePolicyContribution>
	   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.AddLinkedCategoryAuthorizationStatePolicy"
             targetId="addLinkedCategoryAction">
	   </statePolicyContribution>	   	  	   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.RemoveLinkedCategoryAuthorizationStatePolicy"
             targetId="removeLinkedCategoryAction">
	   </statePolicyContribution>
	   	   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ExcludeLinkedCategoryAuthorizationStatePolicy"
             targetId="excludeLinkedCategoryAction">
	   </statePolicyContribution>	   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.IncludeLinkedCategoryAuthorizationStatePolicy"
             targetId="includeLinkedCategoryAction">
	   </statePolicyContribution>
	   
                    
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ProductListViewStatePolicy"
             targetId="productListView">
       </statePolicyContribution>
       
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CreateCategoryAuthorizationStatePolicy"
             targetId="createCategoryAction">
	   </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CreateSubCategoryAuthorizationStatePolicy"
             targetId="createSubCategoryAction">
	   </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditBaseAmountDialogStatePolicy"
             targetId="addEditBaseAmountDialog">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.EditDeleteCatalogAndCategoryAutorizationStatePolicy"
             targetId="deleteCatalogCategory">
       </statePolicyContribution>     
       
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CreateProductAuthorizationStatePolicy"
             targetId="createProductAction">
	   </statePolicyContribution>
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CreateProductAuthorizationStatePolicy"
             targetId="createProductBundleAction">
	   </statePolicyContribution>
    <statePolicyContribution
          priority="10"
          statePolicy="com.elasticpath.cmclient.catalog.policy.ManageProductsInCategoryAuthorizationStatePolicy"
          targetId="addExistingProductAction">
    </statePolicyContribution>
    <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditCatalogAttributeDialogStatePolicy"
             targetId="addEditCatalogAttributeDialog">
       </statePolicyContribution>
     <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditCategoryTypeDialogStatePolicy"
            targetId="addEditCategoryTypeDialog">
     </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogCategoryTypeSectionPolicy"
             targetId="catalogCategoryTypesSection">
       </statePolicyContribution>                   
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogSkuOptionDialogPolicy"
             targetId="addEditSkuOptionDialog">
       </statePolicyContribution>
       
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogProductTypeSectionPolicy"
             targetId="catalogProductTypesSection">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogBrandSectionPolicy"
             targetId="catalogBrandsSection">
       </statePolicyContribution>
       <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditBrandDialogStatePolicy"
            targetId="addEditBrandDialog">
       </statePolicyContribution>           
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogCartItemModifierGroupsSectionPolicy"
             targetId="catalogCartItemModifierGroupsSection">
         </statePolicyContribution>
         <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditCartItemModifierGroupsSectionPolicy"
             targetId="addEditCartItemModifierGroupDialog">
         </statePolicyContribution>
         <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogSkuOptionValueDialogPolicy"
             targetId="catalogSkuOptionValueAddEditDialog">
       </statePolicyContribution>                   
	   <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.ProductTypeAddEditWizardPolicy"
             targetId="productTypeWizard">
       </statePolicyContribution>
       <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.CatalogAddEditCartItemModifierFieldDialogPolicy"
             targetId="addEditCartItemModifierFieldDialog">
         </statePolicyContribution>
         <statePolicyContribution
             priority="10"
             statePolicy="com.elasticpath.cmclient.catalog.policy.AddEditCartItemModifierFieldOptionDialogPolicy"
             targetId="addEditCartItemModifierFieldOptionDialog">
         </statePolicyContribution>
    </extension>

    <extension point="com.elasticpath.cmclient.changeset.supportedComponents">
       <editor
             editorId="com.elasticpath.cmclient.catalog.editors.product.ProductEditor"
             objectType="Product">
       </editor>
       <dialog
             class="com.elasticpath.cmclient.catalog.editors.catalog.ChangeSetEditorCatalogSkuOptionAddEditDialog"
             objectType="Sku Option">
       </dialog>
       <dialog
             class="com.elasticpath.cmclient.catalog.editors.catalog.ChangeSetEditorCatalogSkuOptionAddEditDialog"
             objectType="Sku Option Value">
       </dialog>
       <dialog
        class="com.elasticpath.cmclient.catalog.dialogs.cartitemmodifier.AddEditCartItemModifierGroupDialog"
        objectType="CartItemModifierGroup">
       </dialog>
       <editor
             editorId="com.elasticpath.cmclient.catalog.editors.product.ProductEditor"
             objectType="Product Bundle">
       </editor>
       <editor
             editorId="com.elasticpath.cmclient.catalog.editors.sku.ProductSkuEditor"
             objectType="Product SKU">
       </editor>
       <editor
             editorId="com.elasticpath.cmclient.catalog.editors.category.CategoryEditor"
             objectType="Category">
       </editor>
       <dialog
             class="com.elasticpath.cmclient.catalog.dialogs.catalog.VirtualCatalogDialog"
             objectType="Catalog">
       </dialog>
       <dialog
             class="com.elasticpath.cmclient.catalog.dialogs.categorytype.UpdatableCategoryTypeDialog"
             objectType="CategoryType">
       </dialog>
          <dialog
             class="com.elasticpath.cmclient.catalog.dialogs.catalog.ChangeSetEditorAttributeEditDialog"
             objectType="Attribute">
       </dialog>
       <dialog
             class="com.elasticpath.cmclient.catalog.dialogs.brand.UpdatableBrandDialog"
             objectType="Brand">
       </dialog>
       <dialog
        class="com.elasticpath.cmclient.catalog.dialogs.cartitemmodifier.AddEditCartItemModifierFieldDialog"
        objectType="CartItemModifierField">
       </dialog>
       <dialog
        class="com.elasticpath.cmclient.catalog.dialogs.cartitemmodifier.UpdatableCartItemModifierGroupDialog"
        objectType="CartItemModifierGroup">
       </dialog>
          <wizard
             class="com.elasticpath.cmclient.catalog.wizards.product.ProductTypeAddEditWizard"
             objectType="ProductType">
       </wizard>
    </extension>
    <extension
          point="com.elasticpath.cmclient.core.bindings">
       <perspectiveOpenCommand
             openCommandId="com.elasticpath.cmclient.catalog.command.openPerspective"
             perspectiveId="com.elasticpath.cmclient.catalog.catalogperspective">
       </perspectiveOpenCommand>
    </extension>
</plugin>
