db.connection.url=jdbc:h2:file://${project.build.directory}/target-system/SMOKETESTDB
db.connection.username=sa
db.connection.password=sa
db.connection.driver_class=org.h2.Driver

jms.url=tcp://localhost:61621
jms.externalEndpoint.uri=jms://topic:VirtualTopic.ep.domain
jms.maxConnections=25
jms.maximumActiveSessionPerConnection=25
jms.idleTimeout=10000