###############################################################################
# test_application.config
# This file contains the configuration settings for running the integration
# tests.
###############################################################################

# TODO: This feature was broken somewhere along the line...
#context.use_search=true

# Directory where runtime configuration is stored
runtime.directory=${project.build.testOutputDirectory}

# file containing the spring bean definitions to load into the application manager
context.definitions_file=integration-context.xml

# setting on whether default database is used for all the tests:
#   true  - default database is always used for all tests regardless if specific database was supplied
#   false - specific database is used if supplied by test, else default database is used
context.use_default_db=true

# reset mode used for the tests, options are:
#   EACH_DB_NAME - database is reset each time database name is switched
#   EACH_USE     - database is reset each time database is used
#   NONE         - database is not reset unless specifically forced to by a test
context.db_reset_mode=EACH_USE

# default name of database used for testing 
context.default_db_name=test_database

# Path to assets directory
runtime.assets.dir=${basedir}/target/test-classes/assets

###############################################################################
# db related  configuration
###############################################################################

# database configuration settings for mysql
#db.rdbms=mysql
#db.name=test_database
#db.connection.host=localhost
#db.connection.port=3306
#db.connection.username=root
#db.connection.password=toor
#db.connection.driver_class=com.mysql.jdbc.Driver
#db.script.dir=../database/target/mysql

# database configuration settings for hsqldb
#db.rdbms=hsqldbmem
#db.name=test_db
#db.connection.host=127.0.0.1
#db.connection.port=
#db.connection.username=sa
#db.connection.password=
#db.connection.driver_class=org.hsqldb.jdbcDriver
#db.script.dir=../database/target/derby

# database configuration settings for H2
db.rdbms=h2mem
db.name=test_db
db.connection.host=127.0.0.1
db.connection.port=
db.connection.databasename=iTestDB
db.connection.schemaname=PUBLIC
db.connection.username=sa
db.connection.password=sa
db.connection.reset_user=sa
db.connection.reset_password=sa
db.connection.driver_class=org.h2.Driver
db.script.dir=../database/target/h2

#db.rdbms=hsqldb
#db.name=${context.default_db_name}
#db.connection.host=127.0.0.1
#db.connection.port=
#db.connection.username=sa
#db.connection.password=
#db.connection.driver_class=org.hsqldb.jdbcDriver
#db.script.dir=../database/target/derby
#db.connection.url=jdbc:hsqldb:file:/home/eheath/COMMERCEDBHSQLDB
#db.connection.validation_query=select 1 from INFORMATION_SCHEMA.SYSTEM_USERS

## database configuration settings for oracle
## requires dba username and password, with privileges to create new user and grant privileges

#db.rdbms=oracle
#db.name=ORCL
#db.connection.host=
#db.connection.port=1521
#db.connection.driver_class=oracle.jdbc.driver.OracleDriver
#db.connection.url=jdbc:${db.rdbms}:thin:@${db.connection.host}:${db.connection.port}:${db.name}
#db.connection.username=test_database
#db.connection.password=testadmin
#db.connection.dbausername=ep6
#db.connection.dbapassword=testadmin     
#db.script.dir=../database/target/oracle