<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (c) Elastic Path Software Inc., 2019
  -->

<Context>
	<Resource
		name="@cargo.datasource.jndi@"
		auth="Container"
		scope="@cargo.datasource.scope@"
		type="javax.sql.DataSource"
		maxActive="@cargo.datasource.maxActive@"
		maxIdle="@cargo.datasource.maxIdle@"
		maxWait="@cargo.datasource.maxWait@"
		testWhileIdle="@cargo.datasource.testWhileIdle@"
		validationQuery="@cargo.datasource.validationQuery@"
		removeAbandoned="@cargo.datasource.removeAbandoned@"
		username="@cargo.datasource.username@"
		password="@cargo.datasource.password@"
		driverClassName="@cargo.datasource.driver@"
		factory="@cargo.datasource.factory@"
		url="@cargo.datasource.url@"
	/>
	<Resource name="jdbc/epjndiReadOnly"
			  defaultReadOnly="true"
			  defaultAutoCommit="true"
			  jdbcInterceptors="ConnectionState;StatementFinalizer"
			  auth="Container"
			  scope="Shareable"
			  type="javax.sql.DataSource"
			  maxActive="0"
			  maxIdle="0"
			  maxWait="0"
			  testWhileIdle="@cargo.datasource.testWhileIdle@"
			  validationQuery="@cargo.datasource.validationQuery@"
			  removeAbandoned="true"
			  username="@cargo.datasource.username@"
			  password="@cargo.datasource.password@"
			  driverClassName="@cargo.datasource.driver@"
			  factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
			  url="@cargo.datasource.url@"
	/>
	<Resource auth="Container"
			  name="@cargo.ep.jms.jndi@"
			  type="@cargo.ep.jms.type@"
			  maxConnections="25"
			  maximumActiveSessionPerConnection="25"
			  idleTimeout="10000"
			  description="JMS Connection Factory"
			  factory="@cargo.ep.jms.factory@"
			  brokerURL="@cargo.ep.jms.url@"/>
</Context>

