Dear $!cmUser.firstName $!cmUser.lastName,

An Elastic Path Commerce account has been created for User ID '$!cmUser.userName' with the following temporary password: $newPassword

The first time you sign in you will be required to change your password before you can access Elastic Path Commerce.

Best regards,
Your Elastic Path Commerce Team
