<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<display-name>Health Monitoring Server</display-name>

	<!-- spring framework context configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/elastic-path-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Health Monitoring servlet -->
	<servlet>
		<servlet-name>Status servlet</servlet-name>
		<servlet-class>com.elasticpath.health.monitoring.servlet.StatusCheckerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Status servlet</servlet-name>
		<url-pattern>/status/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsl</extension>
		<!-- per http://www.w3.org/TR/2006/PP-xslt20-20061121/ -->
		<mime-type>application/xslt+xml</mime-type>
	</mime-mapping>

	<!-- The Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Log4j context -->
	<env-entry>
		<description>Sets the logging context (for logging hierarchy separation in web-app)</description>
		<env-entry-name>logging-context</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>health-monitoring</env-entry-value>
	</env-entry>
</web-app>
