.checkstyle
.classpath
.pmd
.pmdruleset
.ruleset
bin
build-modified.xml
build.xml
com.elasticpath.cmclient.admin.configuration.jar
javaCompiler.com.elasticpath.cmclient.admin.configuration.jar.args
temp.folder
