<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (c) Elastic Path Software Inc., 2019
  -->

<Context>
	<Resources
			cachingAllowed="true"
			cacheMaxSize="@cargo.ep.tomcat.maxcachesize@"
	/>
	<Resource auth="Container" name="mail/Session" type="javax.mail.Session"/>
	<Resource
		name="jdbc/epjndi"
		auth="Container"
		scope="Shareable"
		type="javax.sql.DataSource"
		maxActive="50"
		maxIdle="30"
		maxWait="10000"
		testWhileIdle="true"
		validationQuery="SELECT 1"
		removeAbandoned="true"
		username="@cargo.datasource.username@"
		password="@cargo.datasource.password@"
		driverClassName="@cargo.datasource.driver@"
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
		url="@cargo.datasource.url@"
	/>

	<Resource auth="Container"
		name="jms/JMSConnectionFactory"
		type="@cargo.ep.jms.type@"
		maxConnections="100"
		maximumActiveSessionPerConnection="50"
		idleTimeout="10000"
		description="JMS Connection Factory"
		factory="@cargo.ep.jms.factory@"
		brokerURL="@cargo.ep.jms.url@"/>

</Context>

