###############################################################################
# test_application.config
# This file contains the configuration settings for running the integration
# tests.
###############################################################################

# Path to assets directory
runtime.assets.dir=${basedir}/target/test-classes/assets