<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="supportedComponents" name="Supported UI Components" schema="schema/supportedComponents.exsd"/>
   <extension-point id="statePolicy" name="Change Set State Policy" schema="schema/statePolicy.exsd"/>

   <extension point="org.eclipse.ui.startup">
      <startup class="com.elasticpath.cmclient.changeset.ChangeSetEarlyStartup"/>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="com.elasticpath.cmclient.changeset.perspective.ChangeSetPerspectiveFactory"
	    icon="icons/changeset-publish_default_22.png"
            id="com.elasticpath.cmclient.changeset.perspective"
            name="%ChangeSetPerspective.name">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <actionSet
               id="com.elasticpath.cmclient.changeSet.workbenchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

   <extension
           point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
              targetID="com.elasticpath.cmclient.changeset.perspective">
         <actionSet
                 id="com.elasticpath.cmclient.changesetlabel.workbenchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
           point="org.eclipse.ui.actionSets">
      <actionSet
              id="com.elasticpath.cmclient.changesetlabel.workbenchActionSet"
              label="Changeset">
      </actionSet>
   </extension>

   <extension
         point="com.elasticpath.cmclient.core.authorizations">
      <permissions>
         <permission
               activityId="com.elasticpath.cmclient.changeset.authorizations.activity"
               description="%manageChangeSetPermission.description"
               key="CHANGE_SET_PERMISSIONS_MANAGE"
               name="%manageChangeSetPermission.name">
         </permission>
         <permission
               activityId="com.elasticpath.cmclient.changeset.authorizations.activity"
               description="%changeSetWorkWithPermission.description"
               key="WORK_WITH_CHANGE_SETS_PERMISSION"
               name="%changeSetWorkWithPermission.name">
         </permission>    
         <permission
               activityId="com.elasticpath.cmclient.changeset.authorizations.activity"
               description="%changeSetPublishPermission.description"
               key="PUBLISH_CHANGE_SETS_PERMISSION"
               name="%changeSetPublishPermission.name">
         </permission>              
      </permissions>
      <activity
            id="com.elasticpath.cmclient.changeset.authorizations.activity"
            name="%activityPermission.name" 
            perspectiveId="com.elasticpath.cmclient.changeset.perspective">
      </activity>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.elasticpath.cmclient.changeSet.workbenchActionSet"
            label="%ChangeSet.name">
      	<menu
            id="com.elasticpath.cmclient.changeset.workbenchMenu"
            label="%ChangeSet.name">
      	</menu>
      	<action
                class="com.elasticpath.cmclient.changeset.actions.AddToChangeSetActionDelegate"
                definitionId="com.elasticpath.cmclient.changeset.commands.addToChangeSet"
                icon="icons/changeset-add-object_default_34.png"
                id="com.elasticpath.cmclient.changeset.actions.AddToChangeSetActionDelegate"
                label="%AddToChangeSetAction.name"
                toolbarPath="com.elasticpath.cmclient.core.toolbars.changeset/FIRST_ELEMENT_IN_TOOLBAR"
                tooltip="%AddToChangeSetAction.name">
     	</action>
         <action
                 class="com.elasticpath.cmclient.changeset.actions.ChangeSetPullDownActionDelegate"
                 definitionId="com.elasticpath.cmclient.changeset.commands.switchChangeSet"
                 id="com.elasticpath.cmclient.changeset.openSwitchChangeSet"
                 label="%SwitchChangeSetAction.name"
                 style="pulldown"
                 allowLabelUpdate="true"
                 toolbarPath="com.elasticpath.cmclient.core.toolbars.changeset/com.elasticpath.cmclient.changeset.actions.AddToChangeSetActionDelegate"
                 tooltip="%SwitchChangeSetAction.tooltip">
         </action>
      </actionSet>     
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.elasticpath.cmclient.changeset.views.ChangeSetsView"
            icon="icons/changeset_default_22.png"
            id="com.elasticpath.cmclient.changeset.views.ChangeSetsView"
            name="%ChangeSetView.name">
      </view>
      <view
            class="com.elasticpath.cmclient.changeset.views.SearchView"
            icon="icons/search_default_22.png"
            id="com.elasticpath.cmclient.changeset.views.SearchView"
            name="%ChangeSetSearchView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.elasticpath.cmclient.changeset.editors.ChangeSetEditor"
            default="false"
            icon="icons/changeset_default_22.png"
            id="com.elasticpath.cmclient.changeset.editors.ChangeSetEditor"
            contributorClass="com.elasticpath.cmclient.core.editors.BaseCmClientEditorContributor"
            name="%ChangeSetEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
              locationURI="toolbar:com.elasticpath.cmclient.core.toolbars.activities?after=perspectiveMenu.adminItem">
            <command
                    commandId="com.elasticpath.cmclient.changeset.command.open.perspective"
                    icon="icons/changeset_default_34.png"
                    id="changeSetMenu.workflowItem"
                    label="%ChangeSetMenu.name"
                    tooltip="%ChangeSetMenu.name">
               <visibleWhen
                       checkEnabled="true">
               </visibleWhen>
            </command>
      </menuContribution>
      <menuContribution
              locationURI="toolbar:org.eclipse.ui.main.toolbar?after=com.elasticpath.cmclient.core.toolbars.activities">
         <toolbar
                 id="com.elasticpath.cmclient.core.toolbars.changeset">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elasticpath.cmclient.changeset.command.open.perspective"
            name="Open Change Set Perspective">
      </command>
      <command
            id="com.elasticpath.cmclient.changeset.commands.addToChangeSet"
            name="Add To Change Set">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.elasticpath.cmclient.changeset.command.open.perspective">
         <class
               class="com.elasticpath.cmclient.changeset.perspective.OpenChangeSetPerspectiveHandler">
         </class>
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">

      <key
            commandId="com.elasticpath.cmclient.changeset.commands.addToChangeSet"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
      <key
            commandId="com.elasticpath.cmclient.changeset.command.open.perspective"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+0">
      </key>
   </extension>

   <extension point="com.elasticpath.cmclient.pricelistmanager.statePolicy">
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetPriceListPolicyImpl"
            targetId="priceListEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createPriceListAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="deletePriceListAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createPriceListAssignmentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="deletePriceListAssignmentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="deletePriceListAssignmentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="priceListAssignmentWizard">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="deletePriceListAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetBaseAmountPriceListStatePolicy"
            targetId="priceListBaseAmountEditorPageContainer">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="baseAmountDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetPriceListPolicyImpl"
            targetId="priceListBaseAmountEditorPageContainer">
      </statePolicyContribution>
   </extension>
   
   <extension
         point="com.elasticpath.cmclient.catalog.statePolicy">
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.CatalogCategoryTypeChangeSetPolicy"
            targetId="catalogCategoryTypesSection">
      </statePolicyContribution>    
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ManageSkuOptionInCatalogChangeSetStatePolicy"
            targetId="catalogSkuOptionsSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ManageAttributesInCatalogChangeSetPolicy"
            targetId="catalogAttributeSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="addEditSkuOptionDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="catalogSkuOptionValueAddEditDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="addEditCategoryTypeDialog">
      </statePolicyContribution>
       <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetEnabledDialogStatePolicyImpl"
            targetId="addEditCatalogAttributeDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.CatalogProductTypeChangeSetPolicy"
            targetId="catalogProductTypesSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.CatalogCartItemModifierGroupChangeSetPolicy"
            targetId="catalogCartItemModifierGroupsSection">
      </statePolicyContribution>
      <statePolicyContribution
              priority="10"
              statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
              targetId="addEditCartItemModifierGroupDialog">
      </statePolicyContribution>
      <statePolicyContribution
              priority="10"
              statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
              targetId="addEditCartItemModifierFieldDialog">
      </statePolicyContribution>
      <statePolicyContribution
              priority="10"
              statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
              targetId="addEditCartItemModifierFieldOptionDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="productTypeWizard">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.CatalogBrandChangeSetPolicy"
            targetId="catalogBrandsSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="addEditBrandDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberContainerDependentObjectStatePolicyImpl"
            targetId="addEditBaseAmountDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetPriceListPolicyImpl"
            targetId="priceListSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetBaseAmountPolicyImpl"
            targetId="priceListSection">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberDependentObjectStatePolicyImpl"
            targetId="productEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetPriceAdjustmentStatePolicyImpl"
            targetId="priceAdjustmentTree">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="skuEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="categoryEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="virtualCatalogDialog">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="productListView">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createVirtualCatalogHandler">
      </statePolicyContribution>                          	  	                        
       <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="virtualCatalogDialogTarget">
      </statePolicyContribution>                          	  	                        
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="virtualCatalogDialogTarget">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="editCatalogCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="addLinkedCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberCategoryCatalogStatePolicyImpl"
            targetId="reorderCategoryUpAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberCategoryCatalogStatePolicyImpl"
            targetId="reorderCategoryDownAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="removeLinkedCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberCategoryCatalogStatePolicyImpl"
            targetId="excludeLinkedCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetMemberCategoryCatalogStatePolicyImpl"
            targetId="includeLinkedCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createCategoryAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createSubCategoryAction">
      </statePolicyContribution>                 
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetCatalogCategoryStatePolicyImpl"
            targetId="deleteCatalogCategory">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createProductAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createProductBundleAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="addExistingProductAction">
      </statePolicyContribution>
   </extension>
   <extension
         point="com.elasticpath.cmclient.store.statePolicy">
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="catalogPromotionEditor">
      </statePolicyContribution>
      <statePolicyContribution 
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="shoppingCartPromotionEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createDynamicContentHandler">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createDynamicContentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="deleteDynamicContentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="deleteDynamicContentAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="dynamicContentWizard">
      </statePolicyContribution> 
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetPersistentObjectStatePolicyImpl"
            targetId="conditionBuilderEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createConditionalExpression">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="dcdWizard">            
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createDcdAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createDcdHandler">
      </statePolicyContribution>
	  <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="deleteDcdAction">            
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="deleteConditionalExpression">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangesetMemberStatePolicyImpl"
            targetId="deleteConditionalExpression">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="deleteDcdAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="createConditionalExpressionHandler">
      </statePolicyContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.elasticpath.cmclient.changeset.view.contribution"
            targetID="com.elasticpath.cmclient.changeset.views.ChangeSetsView">
         <action
               class="com.elasticpath.cmclient.changeset.actions.FinalizeChangeSetActionDelegate"
               icon="icons/changeset-close_default_22.png"
               id="com.elasticpath.cmclient.changeset.actions.FinalizeChangeSetActionDelegate"
               label="%finalize.label"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="com.elasticpath.cmclient.changeset.changeSetViewMenu/changeSet1"
               tooltip="%finalize.tooltip">
         </action>
         <action
               class="com.elasticpath.cmclient.changeset.actions.PublishChangeSetActionDelegate"
               icon="icons/changeset-publish_default_22.png"
               id="com.elasticpath.cmclient.changeset.actions.PublishChangeSetActionDelegate"
               label="%publish.label"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="com.elasticpath.cmclient.changeset.changeSetViewMenu/changeSet1"
               tooltip="%publish.tooltip">
         </action>
         <action
               class="com.elasticpath.cmclient.changeset.actions.UnlockChangeSetActionDelegate"
               icon="icons/changeset-unlock_default_22.png"
               id="com.elasticpath.cmclient.changeset.actions.UnlockChangeSetActionDelegate"
               label="%unlock.label"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="com.elasticpath.cmclient.changeset.changeSetViewMenu/changeSet1"
               tooltip="%unlock.tooltip">
         </action>
         <action
               class="com.elasticpath.cmclient.changeset.actions.LockChangeSetActionDelegate"
               icon="icons/changeset-lock_default_22.png"
               id="com.elasticpath.cmclient.changeset.actions.LockChangeSetActionDelegate"
               label="%lock.label"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="com.elasticpath.cmclient.changeset.changeSetViewMenu/changeSet1"
               tooltip="%lock.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="com.elasticpath.cmclient.changeset.statePolicy">
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetStatusStatePolicy"
            targetId="changeSetEditor">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetAuthorizationStatePolicy"
            targetId="changeSetEditor">
      </statePolicyContribution>
   </extension>
   <extension
         point="com.elasticpath.cmclient.jobs.statePolicy">
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedStatePolicy"
            targetId="csvImportPricelistHandler">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetRunImportJobPolicy"
            targetId="runImportJobAction">
      </statePolicyContribution>
      <statePolicyContribution
            priority="10"
            statePolicy="com.elasticpath.cmclient.changeset.policy.ChangeSetSelectedForImportJobStatePolicy"
            targetId="runImportJobAction">
      </statePolicyContribution>
   </extension>
   <extension
         point="com.elasticpath.cmclient.core.bindings">
      <perspectiveOpenCommand
            openCommandId="com.elasticpath.cmclient.changeset.command.open.perspective"
            perspectiveId="com.elasticpath.cmclient.changeset.perspective">
      </perspectiveOpenCommand>
   </extension>

  
</plugin>
